html {
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  margin: 0px 50px;
}

.image-wrapper {
  height: 43vh;
  overflow: overlay;
  border: 1px solid hsl(0,0%,80%);
  background-color: #FAFAFA;
  font-weight: 600;
}

.base-image {
  width: 100%
}

.intro-text {
  display: flex;
  justify-content: space-evenly;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-style: italic;
}

.select-dialog {
  width: 300px;
}

@media (max-width: 768px) {
  .grid {
    margin: 0;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .header > h1 {
    display: none;
  }
  .header {
    margin-top: 20px;
  }
}